<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-image: linear-gradient(#E8F0F2,#A2DBFA,#39A2DB);
  background-repeat: no-repeat;
  background-size: cover;

}
h1{
  color:#A2DBFA ;
  font-size: 4vh;
}
h2{
  font-size: 5vh;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #0A1931;
  color: white;

}

.container {
  padding: 0 16px;
}
#para{
  font-family: serif;
  color: #E8F0F2;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #444444;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <p id="para">Due to Pandemic situtaion we are stuck here in this online mode,<br>but with enough dedication and will power we the group of students from MANIT Bhopal <br> have managed to code,learn and develop together , (Thanks to Discord xd)</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="page">


<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/236x/34/8c/90/348c9041f454c5c4d3e4fc55ca151e66.jpg" alt="Isha" style="width:100%">
      <div class="container">
        <h2>Isha Jain</h2>
        <p class="title">Student,Developer</p>
        <p>Hi,This is Isha here and I love to code and develop.I am currently pursuing B Tech degree in Computer Science and Engineering from Maulana Azad National Institute of Technology,Bhopal</p>
        <a href="mailto:ishajainsophia@gmail.com">ishajainsophia@gmail.com</a>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/564x/cb/c8/f2/cbc8f23f0ec183769e552002bf8b5a6e.jpg" alt="Bhuwan" style="width:100%">
      <div class="container">
        <h2>Bhuwan Singh</h2>
        <p class="title">Student,Developer</p>
        <p>Hi,This is Bhuwan here and I love to code and develop.I am currently pursuing B Tech degree in Computer Science and Engineering from Maulana Azad National Institute of Technology,Bhopal</p>
        <a href="mailto:bhuwankumar2000@gmail.com">bhuwankumar2000@gmail.com</a>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/236x/4d/a3/45/4da3451aa3a0c5330a24417b1d1a1a2a.jpg" alt="Pratyush" style="width:100%">
      <div class="container">
        <h2>Pratyush Gupta</h2>
        <p class="title">Student,Developer</p>
        <p>Hi,This is Pratyush here and I love to code and develop.I am currently pursuing B Tech degree in Computer Science and Engineering from Maulana Azad National Institute of Technology,Bhopal</p>
          <a href="mailto:pratyushgguptaa@gmail.com">pratyushgguptaa@gmail.com</a>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/236x/b3/6c/1b/b36c1b6900210d417248dd592820f36f.jpg" alt="Mayank" style="width:100%">
      <div class="container">
        <h2>Mayank Dubey</h2>
        <p class="title">Student,Developer</p>
        <p>Hi,This is Mayank here and I love to code and develop.I am currently pursuing B Tech degree in Computer Science and Engineering from Maulana Azad National Institute of Technology,Bhopal</p>
        <a href="mailto:mayankdubeyntse@gmail.com">mayankdubeyntse@gmail.com</a>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
