<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/css1.css" />
    <script defer src="js/js1.js"></script>
    <title>Vaccine on the go</title>
  </head>
  <body>
    <div class="back">
      <nav>
        <img
          class="logo"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl177Zkur-D_jfpWrDLn9vyk90O4VHCoU1iQ&usqp=CAU"
          alt=""
        />
        <p id="para">Vaccine on the go</p>
      </nav>
      <h1 id="heading">Welcome guys</h1>
      <div class="flex-parent jc-center">
        <a id="btn1" href="/login">LOGIN</a>
      </div>

      <div class="flex-parent jc-center">
        <a id="btn2" href="/sign_up">REGISTER YOUR SHOT</a>
      </div>
    </div>
  </body>
</html>
