<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="css/css1.css" />
    <script defer src="js/js1.js"></script>
    <title>Vaccine on the go</title>
  </head>
  <body>
    <div class="back">
      <nav>
        <a title="Know the developers"id="btn_ish" href="/contact_us">Contact Us</a>
        <img
          class="logo"
          src="https://ysm-res.cloudinary.com/image/upload/ar_16:9,c_fill,dpr_3.0,f_auto,g_faces:auto,q_auto:eco,w_400/v1/yale-medicine/live-prod/ym_new/images/d9a2e072-cf8e-4bc6-95c1-6aef77f379bb_tcm990-407465.jpg"
          alt=""
        />
        <p id="para">Vaccine on the go</p>
      </nav>
      <h1 class="animate_animated animate_bounce" id="heading">Welcome, Get the life saving Vaccine.</h1>
      <div class="flex-parent jc-center">
        <a title="Already have an account"id="btn1" href="/login">Login</a>
      </div>

      <div class="flex-parent jc-center">
        <a title="New User"id="btn2" href="/sign_up">Register Your Shot</a>
      </div>
      <div class="bubbles">
        <img src="/images/bubble.png" >
        <img src="/images/bubble.png" >
        <img src="/images/bubble.png" >
        <img src="/images/bubble.png" >
        <img src="/images/bubble.png" >
        <img src="/images/bubble.png" >
        <img src="/images/bubble.png" >
        <img src="/images/bubble.png" >
        <img src="/images/bubble.png" >
        <img src="/images/bubble.png" >
      </div>
    </div>
  </body>
</html>
