<!DOCTYPE html>
<html lang="en" dir="ltr">
<style media="screen">
  body{
    background-image:linear-gradient(#E8F0F2,#A2DBFA,#39A2DB);
    height: 100vh;

  }
  h1{
    margin-left: 25%;
    margin-top:18%;
    font-size: 10vh;
  }
  a {
    transition: all 0.5s ease-out;
  }
  a:link,
  a:visited {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 3.0rem;
    background-color: #0c4271;
    color: #f9dfdc;
    padding: 2.5rem 2.5rem 2.5rem;
    text-decoration: none;
    border-radius: 2.5rem;
    display: inline-block;
    transform: scale(0.95);
  }

  a:hover,
  a:active {
    background-color: #f9dfdc;
    border: .2rem grey solid;
    color: #0c4271;
  }
  #btn{
    margin-left: 35%;
  }
</style>
  <head>
    <meta charset="utf-8">
    <title>Galat jagah aagye ji!!</title>
  </head>
  <body>
    <h1>404 Vaccine Not Found</h1>
    <a id="btn" href="/">Vapas chale jaao!!</a>
  </body>
</html>
