<!DOCTYPE html>
<link rel="shortcut icon" href="./Images/Logo/Title.jpeg" type="image/x-icon" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="/css/sign_up.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<html>
  <head>
    <title>Sign Up</title>

    <link
      rel="shortcut icon"
      href="./Images/Logo/Title.jpeg"
      type="image/x-icon"
    />
  </head>
  <body>
    <nav>
      <img
        class="logo"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl177Zkur-D_jfpWrDLn9vyk90O4VHCoU1iQ&usqp=CAU"
        alt=""
      />
      <p id="para">Vaccine on the go</p>
    </nav>

    <div class="login-div">
      <form
        id="regform"
        action="/user/store"
        method="post"
        class="login"
        onsubmit="return DisplayResults()"
        name="regform"
        autocomplete="off"
      >
        <h1 class="sign">Sign Up</h1>
        <div id="errormessage"></div>
        <span class="seperator"></span>
        <div class="input-text">
          <input type="text" name="aadhar" placeholder="Aadhar Card" />
        </div>
        <div class="input-text">
          <input type="number" name="age" placeholder="Age" />
        </div>
        <div class="input-text">
          <button class="btn_i" type="button" name="button">PWD</button>
          <input id="check" type="checkbox" name="pwd" value="pwd" />
        </div>
        <div class="input-text">
          <input id="city" type="text" name="city" placeholder="City" />
        </div>
        <input
          form="regform"
          class="signin-button"
          type="submit"
          value="Sign Up"
        />
        <div class="remember-flex">
          <div></div>
          <div class="help">
            <a class="color_text" href="https://www.google.com/gmail/"
              >Need help?</a
            >
          </div>
        </div>
      </form>

      <span class="seperator"></span>

      <br />
      <br />
    </div>
  </body>
</html>
