<!DOCTYPE html>

<html>
  <head>
    <title>Sign In</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />



  </head>
  <body>
    <nav>

        <img
            class="logo"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl177Zkur-D_jfpWrDLn9vyk90O4VHCoU1iQ&usqp=CAU"
            alt=""
        />
        <p id="para">Vaccine on the go</p>
        <a id="btn1" href="/admin_login">Admin Login</a>

    </nav>

    <div class="login-div">
      <form
      action="/users/login"
      method="POST"
      class="login" onsubmit="return DisplayResults()"
      name="regform"
      autocomplete="off">


      <h1 class="sign">Sign In</h1>
      <div id="errormessage"></div>
      <span class="seperator"></span>
      <span class="seperator"></span>

  <div class="input-text">


    <input
      type="text"
      name="aadhar"
      placeholder="Aadhar number"
      oninput="change()"
    />
    <span class="seperator"></span>
  </div>
      <div class="input-text">

        <input
          id = "pass_signup"
          type="password"
          name="secret_code"
          placeholder="Secret Code"
          oninput="change()"
        />

      </div>

        <span class="seperator"></span>
        <span class="seperator"></span>
        <span class="seperator"></span>

        <input class="signin-button" type="submit" value="Sign In" />
        <div class="remember-flex">
            <div>

            </div>
            <div class="help">
                <a class="color_text" href="mailto:someone@example.com">Need help?</a>
            </div>
        </div>
        <div class="login-face">

        </div>
        <br>
        <div class="new-members">
            Not yet registered? <a href="/sign_up" class="signup-link">Sign up now</a>.
        </div>
        <br>

      </form>



        <br>
        <br>
    </div>


  </body>
</html>
