body {
  margin: 0;
  padding: 0;
}

.back {
  background-image: linear-gradient(rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.6)),
    url('https://images.unsplash.com/photo-1607077644571-11791eec3c34?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fGNvcm9uYXZpcnVzfGVufDB8fDB8Ymx1ZXw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.logo {
  border-radius: 50%;
  height: 60px;
  padding: 25px;
  width: 75px;
}
.flex-parent {
  display: flex;
}
.jc-center {
  justify-content: center;
}
#heading {
  margin-top: 2px;
  margin-bottom: 23px;
  color: #0a1931;
  font-size: 60px;
  display: flex;
  justify-content: center;
}
#para {
  padding-left: 10px;
  margin-top: 0px;
  color: #0c4271;
}
#btn1 {
  width: 150px;
  padding-left: 100px;
  margin-top: 200px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  height: 30px;
  border-radius: 10px;
}
#btn2 {
  width: 300px;
  margin-top: 30px;
  padding-left: 80px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  height: 30px;
  border-radius: 15px;
}
a {
  transition: all 0.5s ease-out;
}
a:link,
a:visited {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  background-color: #0c4271;
  color: #f9dfdc;
  padding: 25px 25px 25px;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
  transform: scale(0.95);
}

a:hover,
a:active {
  background-color: #f9dfdc;
  border: 2px grey solid;
  color: #0c4271;
}
