
body {
    margin: 0;
    padding: 0;
  }
  #btn_ish{
    font-size: 20px;
    float: right;
    margin-top: 40px;
    margin-right: 70px;
    width: 180px;
    border: none;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    outline: none;
    width: 140px;
    border: 2px #0A1931 solid;
    color: #F9DFDC;
    text-decoration:none;
    font-weight: bold;
    background-color: #0C4271;
    box-shadow: -4px -4px 6px 0 #ffffff7f, 4px 4px 6px 0 rgba(116, 125, 136, 0.5),
      inset 4px 4px 6px 0 rgba(255, 255, 255, 0.2),
      inset -4px -4px 6px 0 rgba(0, 0, 0, 0.4);
  }
  #btn_ish:visited{
    color: #F9DFDC;
    background-color: #0C4271;
    font-weight: bold;
    transform: scale(0.95);
  }
  #btn_ish:hover{
    font-weight: bold;
    background-color: #f9dfdc;
    border: 2px #0A1931 solid;
    color: #0C4271;
  }
  .back {
    background-image: linear-gradient(rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.6)),
      url('https://images.unsplash.com/photo-1607077644571-11791eec3c34?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fGNvcm9uYXZpcnVzfGVufDB8fDB8Ymx1ZXw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    height: 107vh;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .logo {
    border-radius: 50%;
    height: 60px;
    padding: 25px;
    width: 75px;
  }
  .flex-parent {
    display: flex;
  }
  .jc-center {
    justify-content: center;
  }
  #heading {
    margin-top: 2px;
    margin-bottom: 23px;
    color: #0a1931;
    font-size: 60px;
    display: flex;
    justify-content: center;
  }
  #para {
    padding-left: 10px;
    margin-top: 0px;
    color: #0c4271;
  }
  #btn1 {
    width: 150px;
    padding-left: 100px;
    margin-top: 200px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    height: 30px;
    border-radius: 10px;
    box-shadow: -4px -4px 6px 0 #ffffff7f, 4px 4px 6px 0 rgba(116, 125, 136, 0.5),
      inset 4px 4px 6px 0 rgba(255, 255, 255, 0.2),
      inset -4px -4px 6px 0 rgba(0, 0, 0, 0.4);
  }
  #btn2 {
    width: 300px;
    margin-top: 30px;
    padding-left: 80px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    height: 30px;
    border-radius: 15px;
    box-shadow: -4px -4px 6px 0 #ffffff7f, 4px 4px 6px 0 rgba(116, 125, 136, 0.5),
      inset 4px 4px 6px 0 rgba(255, 255, 255, 0.2),
      inset -4px -4px 6px 0 rgba(0, 0, 0, 0.4);
  }
  a {
    transition: all 0.5s ease-out;
  }
  a:link,
  a:visited {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    background-color: #0c4271;
    color: #f9dfdc;
    padding: 25px 25px 25px;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;
    transform: scale(0.95);
  }

  a:hover,
  a:active {
    background-color: #f9dfdc;
    border: 2px grey solid;
    color: #0c4271;
  }
.bubbles img{
width: 50px;
animation: bubble 7s linear infinite;

}
.bubbles{
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
position: absolute;
bottom:0;

}
@keyframes bubble{
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{

    opacity: 1;
  }
  70%{

    opacity: 1;
  }
  100%{
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.bubbles img:nth-child(1){
  animation-delay: 2s;
}
.bubbles img:nth-child(2){
  animation-delay: 1s;
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
}
.bubbles img:nth-child(4){
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
  animation-delay: 2s;
}
.bubbles img:nth-child(6){
  animation-delay: 6s;
}
.bubbles img:nth-child(7){
  animation-delay: 3.5s;
}
.bubbles img:nth-child(8){
  animation-delay: 6.5s;
}
.bubbles img:nth-child(9){
  animation-delay: 5.5s;
}
.bubbles img:nth-child(10){
  animation-delay: 1.5s;
}
.bubbles img:nth-child(11){
  animation-delay: 2.5s;
}
