body {
    height: 100vh;
    background-image: linear-gradient(#e8f0f2, #a2dbfa, #39a2db);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  }
 
  html{
    font-size: 62.5%;
}
@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
  html{
      font-size: 45%;
  }
}
h1{
    color: #0f3057;
    margin-top: 5.0rem;
    margin-bottom: 10.0rem;
    font-size: 5.0rem;
    font-weight: 900;
    letter-spacing: .2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  .secretcode {
    width: 15%;
    height: 7.0rem;
    padding: 1.5rem;
    margin-left: 3.0rem;
  
    background: #0a1931;
    border: .2rem solid #232323;
    color: #f9dfdc;
    text-align: center;
  
    font: 3.2rem Arial, sans-serif;
    position: fixed;
    top: 25%;
    right: 25%;
    border-radius: 2.5rem;
  }
  
  .value {
    width: 15%;
    height: 7.0rem;
    padding: 1.5rem;
    margin-left: 27%;
  
    background: #0a1931;
    border: .2rem solid #232323;
    color: #f9dfdc;
    text-align: center;
  
    font: 3.2rem Arial, sans-serif;
    position: fixed;
    top: 25%;
    right: 7%;
    border-radius: 2.5rem;
  }
  th {
    text-align: center;
    font-size: 2.0rem;
  }
  td {
    text-align: center;
    background-color: #a4ebf37f;
    backdrop-filter: blur(.5rem);
  }
  #col1 {
    width: 60%;
  }
  #btn_i {
    width: 20%;
    left: 0%;
  }
  #myInput {
    width: 30%;
    margin-left: 8%;
    height: 6%;
  }
  #btn_ish {
    margin-left: 2%;
    background-color: #0a1931;
    color: white;
    width: 20.0rem;
    border-radius: 2.0rem;
    height: 6%;
  }
  
  .centres {
    overflow-x: auto;
    overflow-y: auto;
    height: 53%;
    margin: auto;
    width: 45%;
    position: absolute;
    top: 40%;
    left: 8%;
  }
  .vacc {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
  }
  .age {
    color: red;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: .2rem solid #ddd;
    border-bottom: .2rem solid #ddd;
    border-top: .2rem solid #ddd;
    border-right: .2rem solid #ddd;
  }
  
  th {
    position: sticky;
    position: fix;
    top: 0;
    z-index: 1;
    background: #0a1931;
    color: white;
    backdrop-filter: blur(.5rem);
  }
  #map {
    height: 90%;
  }
  .map {
    position: absolute;
    top: 40%;
    right: 4%;
    height: 59%;
    width: 40%;
  }
  
  #drive {
    font-size: 1.2rem;
    color: red;
    transform: translateY(10.0rem);
    position: relative;
    animation: bounce 1s ease infinite;
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      top: 0rem;
    }
    40% {
      top: -1.5rem;
    }
    60% {
      top: -.75rem;
    }
  }
