body {
  margin: 0;
  padding: 0;
}
.back {
  background-image: linear-gradient(rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.6)),
    url('https://images.unsplash.com/photo-1607077644571-11791eec3c34?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fGNvcm9uYXZpcnVzfGVufDB8fDB8Ymx1ZXw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.logo {
  margin-left: 10px;
  border-radius: 50%;
  height: 100px;
  padding: 25px;
  width: 110px;
}
.flex-parent {
  display: flex;
}
.jc-center {
  justify-content: center;
}
#heading {
  margin-top: 10px;
  margin-bottom: 30px;
  color: black;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
#para {
  padding-left: 10px;
  padding-top: 0px;
  color: #0a1931;
}
#btn1 {
  margin-top: 200px;
  margin-bottom: 0px;
}
#btn2 {
  margin-top: 30px;
  margin-bottom: 0px;
}
h1 {
  margin: auto;
  width: max-content;
  color: #0a1931;
}
span {
  display: inline-block;
  padding: 5px;
}
.img-logo {
  height: 94px;
  margin-left: 45px;
}
.seperator {
  height: 12px;
  display: block;
}
.main {
  padding: 70px;
  width: 300px;
  height: auto;
  border: 1.5px grey solid;
  border-radius: 5px;
  margin: -4.5px auto;
}
label {
  font-weight: bold;
  color: black;
  font-size: 1.25em;
}
input {
  width: 280px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  outline: none;
}
input {
  width: 280px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  outline: none;
}
input[type="submit"] {
  width: 260px;
  color:#F9DFDC;
  background-color:#0C4271;
  font-weight: bold;
  box-shadow: -4px -4px 6px 0 #ffffff7f, 4px 4px 6px 0 rgba(116, 125, 136, 0.5),
    inset 4px 4px 6px 0 rgba(255, 255, 255, 0.2),
    inset -4px -4px 6px 0 rgba(0, 0, 0, 0.4);

}
input[type="submit"]:hover {
  cursor: pointer;
  width: 260px;
  height: 51px;
  border: 2px gray solid;
  background-color:#F9DFDC;
  color: #0C4271;
  transform: scale(0.95);

}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1576074255432-27016e8fa7d4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aW5qZWN0aW9ufGVufDB8fDB8Ymx1ZXw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.brand {
  margin-bottom: 13px;
  color: red;
  padding-top: 15px;
}
#errormessage {
  display: flex;
  justify-content: center;
  border-radius: 12px;
}
.login {
  margin: 0 auto;
  width: 400px;
  background-color: #ffffff30;
  border-radius: 5px;
  padding: 30px 70px 143px 70px;
  backdrop-filter: blur(5px);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.login h1 {
  color: #0a1931;
  padding-bottom: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.remember-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.8rem;
}
.color_text {
  color: #bdc7c9;
}
.color_link {
  color: #bdc7c9;
}
.signup-link {
  color: white;
  text-decoration: none;
}
.signup-link:hover {
  text-decoration: underline;
}
.face_icon {
  color: #3b5998;
  margin-right: 6px;
  font-size: 20px;
}
.log_face {
  text-decoration: none;
  margin-left: 10px;
  font-size: 0.8rem;
}
.login-face {
  margin: 50px 0 15px 0;
  vertical-align: middle;
  color: #bdc7c9;
}
.new-members {
  margin-bottom: 10px;
  color: #bdc7c9;
}
.help a {
  text-decoration: none;
  color: #0a81ab;
}
.help a:hover {
  text-decoration: underline;
  color: #2940d3;
}
.input-text {
  margin-bottom: 20px;
}
.input-text input {
  width: 100%;
  height: 45px;
  background-color: #0a1931;
  color: white;
  border-radius: 5px;
  border: none;
  outline: transparent;
  text-indent: 18px;
}
.input-text input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #bdc7c9;
}
.input-text input::-moz-placeholder {
  font-size: 1rem;
  color: #bdc7c9;
  text-indent: 40px;
}
.signin-button {
  margin-top: 20px;
  padding: 13px;
  border-radius: 5px;
  background-color: #0a81ab;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1.05rem;
  cursor: pointer;
}
.aftersubmit {
  opacity: 1;
  width: 310px;
  padding: 30px 70px 30px 70px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin: 0px auto;
}
.field-icon {
  position: absolute;
  margin-left: -25px;
  margin-top: 15px;
  color: white;
}
.btn_i {
  width: 60%;
  height: 50px;
  background-color: #0a1931;
  border-radius: 5px;
  border: none;
  text-align: left;
  outline: transparent;
  text-indent: 18px;
  font-size: 1rem;
  color: #bdc7c9;
  margin: 0px 20px -500px 0px;
}
#check {
  height: 50px;
  margin: -500px 10px -500px;
  width: 160%;
  background-color: #333;
  border-radius: 5px;
  border: none;
  display: inline;
  text-indent: 18px;
  font-size: 1rem;
  color: #bdc7c9;
}
