html {
    margin: 0;
    padding: 0;
}
        body{
    margin: 0;
    padding:0;
}
html{
    font-size: 62.5%;
}
@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
  html{
      font-size: 45%;
  }
}
#col1{
  width: 60%;
}
#myInput{
  width: 30%;
  margin-left: 8%;
  height: 4%;
  background-color: white;

}
.toploader{
  font-size: 4.5vh;
    position:absolute;
    top: 18%;
    left: 0%;
    color: #EFEFEF;

  }
.header {
  height: 110vh;
  background-image: linear-gradient(#E8F0F2,#A2DBFA,#39A2DB);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: top;
  font-family: sans-serif;
}
h1{
    color: #0F3057;
    margin-top: 5rem
;
    margin-bottom: 10.0rem
;
    font-size: 5.0rem
;
    font-weight: 900;
    letter-spacing: .2rem
;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.search-btn{
    margin-left: 2.0rem
;
    height: 6%;
    width: 15.0rem
;
    background: #0A1931;
    border: none;
    color: white;
    border-radius: 2.0rem
;

}
.search-btn:hover{
    background: #053742;
    color: white;
    cursor: pointer;

}
.form-box{
    background: rgba(0,0,0,1);
    padding: 3.0rem
;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: .1rem
 solid black;
    font-size: 1.8rem
;
    background-color: #F4F9F955;
    backdrop-filter: blur(.5rem
);

  }

  #myTable th, #myTable td {
    text-align: left;
    padding: 1.2rem
;
  }

  #myTable tr {

    border-bottom: .1rem
 solid black;
  }

  #myTable tr.header, #myTable tr:hover {

    background-color: #F0EBCC;
  }
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 1.0rem
 12rem
;
    background-repeat: no-repeat;
    width: 40%;
    font-size: 1.6rem
;
    padding: 1.2rem
 2.0rem
 1.2rem
 4.0rem
;
    border: .1rem
 solid black;
    margin-bottom: 3.0rem
;
    margin-left: 5.0rem
;

  }
  .skip-btn{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1.5%;
    padding-bottom: 1%;
    padding-left: 3%;
    position:absolute;
    left:18.0rem
;
    top:90%;
    font-weight: bold;
    font-size: 1.5rem
;
    margin-left: 28%;
    text-decoration: none;
    height: 2.8rem
;
    width: 30.0rem
;
    background: #0A1931;
    border: none;
    color: white;
    border-radius: 2.5rem
;


}
.submit-btn:hover{
    background: #51C4D3;
    cursor: pointer;
}

.skip-btn:hover{
    background: #053742;
    cursor: pointer;
}

.centres {
    overflow-x: auto;
    overflow-y: auto;
    height: 50%;
    margin: auto;
    width: 50%;
    position: absolute;
    top: 38%;
    left: 25%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: .1rem
 solid #ddd;
  }

  th {
    position: sticky;
    position: fix;
    top: 0;
    z-index: 1;
    background: #0A1931;
    color: white;
    backdrop-filter: blur(.5rem
);
  }
