html {
    margin: 0;
    padding: 0;
}
        body{
    margin: 0;
    padding:0;
}
#col1{
  width: 60%;
}
#myInput{
  width: 30%;
  margin-left: 8%;
  height: 4%;
  background-color: white;

}
.header {
  height: 110vh;
  background-image: linear-gradient(#E8F0F2,#A2DBFA,#39A2DB);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: top;
  font-family: sans-serif;
}
h1{
    color: #0F3057;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.search-btn{
    margin-left: 20px;
    height: 6%;
    width: 150px;
    background: #0A1931;
    border: none;
    color: white;
    border-radius: 20px;

}
.search-btn:hover{
    background: #053742;
    color: white;
    cursor: pointer;

}
.form-box{
    background: rgba(0,0,0,1);
    padding: 30px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    font-size: 18px;
    background-color: #F4F9F955;
    backdrop-filter: blur(5px);

  }

  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }

  #myTable tr {

    border-bottom: 1px solid black;
  }

  #myTable tr.header, #myTable tr:hover {

    background-color: #F0EBCC;
  }
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 40%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid black;
    margin-bottom: 30px;
    margin-left: 50px;

  }
  .skip-btn{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1.5%;
    padding-bottom: 1%;
    padding-left: 3%;
    position:absolute;
    left:180px;
    top:90%;
    font-weight: bold;
    font-size: 15px;
    margin-left: 28%;
    text-decoration: none;
    height: 28px;
    width: 300px;
    background: #0A1931;
    border: none;
    color: white;
    border-radius: 25px;


}
.submit-btn:hover{
    background: #51C4D3;
    cursor: pointer;
}

.skip-btn:hover{
    background: #053742;
    cursor: pointer;
}

.centres {
    overflow-x: auto;
    overflow-y: auto;
    height: 50%;
    margin: auto;
    width: 50%;
    position: absolute;
    top: 38%;
    left: 25%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  th {
    position: sticky;
    position: fix;
    top: 0;
    z-index: 1;
    background: #0A1931;
    color: white;
    backdrop-filter: blur(5px);
  }
